body{
    background-image: url("./globe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial Rounded MT, Helvetica, sans-serif;
    color: white;
    background-size:100vw 145vh;
    margin: 0%;
    text-transform: uppercase;
}
.header{
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 1px rgba(255, 255, 255, 0.281) solid;
}
.title{
    font-size:25px;
}
.navs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
ul{
    display: flex;
    margin: 0%;
    justify-content: space-around;
    width: inherit;
}
li{
    display: inline-block;
}

li:first-child{
    color: rgb(210, 166, 251);
}

.title span{
    font-size: 15px;
}
.buttons{
    width: 180px;
    display: flex;
    justify-content: space-evenly
}
.btn{
    height: 30px;
    width: 70px;
    border: 2px white solid;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
}
.btn-1{
    background-color:transparent;
}
.btn-1:hover{
    background-color: #ffffff1b;
    
    box-shadow: 2px 2px 3px #ffffff;
}
.btn-2{
    background-color: rgb(190, 25, 212);
    border: none;
}
.btn-2:hover{
    background-color: #dd00ff;
    box-shadow: 5px 5px 5px #9f2db0;
}
.content{
    text-align: center;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.content span{
    font-size: 2.8vw;
}
#search{
    background-color: transparent;
    border: 2px white solid;
    height: 50px;
    width: 65vw;
    margin-top: 40px;  
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.btn-3{
    margin-top: 15px;
    height: 3vw;
    width: 9vw;
    border: 2px white solid;
    color: white;
    text-transform: uppercase;
    font-size: 0.9vw;
    background-color:#b524cc;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}
.btn-3:hover{
    background-color: #dd00ff;
    box-shadow: 5px 5px 5px #9f2db0;
}
.rates{
    text-transform: none;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
#checkbox{
    border-color:white;
    margin-left: 25px;
    margin-right: 10px;
}
